{% extends 'base.html.twig' %}

{% block title %}Konto{% endblock %}

{% block body %}
<div class="card-header">
    <p class="h1">
        Konto {{ app.user.username }}
        <a class="btn btn-secondary" href="{{ path('index') }}">Wróć do strony głównej</a>
    </p>
    {% for flash_message in app.session.flashBag.get('Komunikat') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}
</div>
<div class="card-body">
<div class="card text-white bg-primary mb-4">
    <div class="row">
    <div class="col-md-auto">
        {{ form_start(accountForm) }}
            {{ form_row(accountForm.email) }}
            {{ form_row(accountForm.gender) }}
            {{ form_row(accountForm.birthDate) }}
            {% if avatarExists %}
            <div>
                <img src="{{ asset('uploads/avatars/' ~ app.user.avatarFilename) }}" height="30%" width="30%" alt="avatar" />
            </div>
            {% else %}
            <div>
                Brak avatara
            </div>
            {% endif %}
            {{ form_row(accountForm.avatarFilename) }}
                <button class="btn">Zatwierdź zmiany</button>
            {{ form_end(accountForm) }}
    </div>
    <div class="col-md-auto">
        {{ form_start(passwordChangeForm) }}
            {{ form_row(passwordChangeForm.oldPassword) }}
            {{ form_row(passwordChangeForm.newPassword) }}
            <button class="btn">Zmień hasło</button>
        {{ form_end(passwordChangeForm) }}
    </div>
    </div>
</div>
</div>
    

{% endblock %}