{% extends 'base.html.twig' %}

{% block title %}Odzyskiwanie hasła{% endblock %}

{% block body %}
<div class="card-header">
    <p class="h1">
        Witaj {{username}}
    </p>
</div>
<div class="card-body">
<div class="card text-white bg-primary mb-4">
    <div>Tutaj możesz awaryjnie zmienić hasło.</div>
    {{ form_start(resetPasswordForm) }}
        {{ form_row(resetPasswordForm.plainPassword) }}
        <button class="btn btn-secondary">Potwierdź zmianę hasła</button>
    {{ form_end(resetPasswordForm) }}
</div>
</div>  
    
{% endblock %}