{% extends 'base.html.twig' %}

{% block title %}Odzyskiwanie hasła{% endblock %}

{% block body %}
    <h1>Wysłano e-mail</h1>
    <div>Wysłano e-mail z linkiem do resetowania hasła.</div>
    <div>Jeśli wiadomość się nie pojawia spróbuj ponownie lub sprawdź folder ze Spamem.</div>
<div>
    <a class="btn btn-primary" href="{{ path('index') }}">Wróć do strony głównej</a>
</div>
{% endblock %}