{% extends 'base.html.twig' %}

{% block title %}Odzyskiwanie hasła{% endblock %}

{% block body %}

<div class="card-header">
    <p class="h1">
        Zmieniono hasło
    </p>
</div>
<div class="card-body">
<div class="card text-white bg-primary mb-4">
    <p>Dokonano pomyślnej zmiany hasła.</p>
    <p>Możesz teraz go użyć, aby się zalogować na swoje konto.</p>
    <div>
        <a class="btn btn-secondary" href="{{ path('index') }}">Wróć do strony głównej</a>
    </div>
</div>
</div>  
    

{% endblock %}