{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
<div class="card-header">
    <p class="h1">
        Rejestracja
    </p>
</div>
<div class="card-body">
<div class="card text-white bg-primary mb-4">
    <div>Konto zostało pomyślnie aktywowane.</div>
    <div>Teraz możesz już się zalogować.</div>
    <a class="btn btn-secondary" href="{{ path('index') }}">Przejdź do strony głównej</a>
</div>
</div>
    
    
{% endblock %}