{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
<div class="card-header">
    <p class="h1">
        Rejestracja
        <a class="btn btn-secondary" href="{{ path('index') }}">Wróć do strony głównej</a>
    </p>
</div>
<div class="card-body">
<div class="card text-white bg-primary mb-4">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn">Zarejestruj się</button>
    {{ form_end(registrationForm) }}
</div>
</div>
    
{% endblock %}
