{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
    <h1>Ukończono rejestrację</h1>
    <div>Rejestracja została ukończona pomyślnie, lecz konto trzeba jeszcze aktywować.</div>
    <div>Wysłano na podany w rejestracji e-mail wiadomość z linkiem do aktywacji.</div>
    <div>Jeśli wiadomość się nie pojawia, spróbuj ponownie lub sprawdź folder ze Spamem.</div>
<div>
    <a class="btn btn-primary" href="{{ path('index') }}">Wróć do strony głównej</a>
</div>
{% endblock %}