{% extends 'base.html.twig' %}

{% block title %}Edytuj listę{% endblock %}

{% block body %}

<div class="card text-white bg-primary mb-3">
  <div class="card-header">
    <p class="h1"> Edycja nazwy listy. 
        <a class="btn btn-light" href="{{ path('remove_list',{ 'username': app.user.username, 'id' : taskList.getId()}) }}">
        Usuń listę.
        </a>
    </p>
</div>
<div class="card-body">
    <div class="container">
        {{ form_start(editTaskListForm) }}
            {{ form_row(editTaskListForm.name) }}
            <button class="btn btn-light">Zatwierdź zmiany</button>
        {{ form_end(editTaskListForm) }}
    </div>
  </div>
</div>

<div class="justify-content-center">
    <a class="btn btn-primary" href="{{ path('user_view_list',{ username: app.user.username, id: taskList.getId()}) }}">Wróć.</a>
</div>
{% endblock %}
