{% extends 'base.html.twig' %}

{% block title %}Listy zadań{% endblock %}

{% block body %}
<div class="card text-white bg-primary mb-3">
  <div class="card-header">
    <p class="h1"> Listy użytkownika {{ app.user.username }} </p>
</div>
<div class="card-body">
    <div class="container bg-light text-dark">
        <ol>
    {% for task in taskLists %}
        <li>{{ task.getName() }} 
            <a href="{{ path('user_view_list',{ 'username': app.user.username, 'id': task.id}) }}">
                (zobacz listę)
            </a>
        </li>
    {% endfor %}
</ol>
    </div>
    <div class="container bg-primary text-dark">
        <div>
            <a class="btn btn-light" href="{{ path('create_empty_list',{username: app.user.username}) }}">Dodaj nową listę.</a>
        </div>
    </div>
</div>
</div>

<div>
    <a class="btn btn-primary" href="{{ path('index') }}">Wróć.</a>
</div>
{% endblock %}
