{% extends 'base.html.twig' %}
{% block title %}
{% if app.user %}
Witaj {{ app.user.username }}!
{% else %}
ToDoList App
{% endif %}
{% endblock %}
{% block body %}
<div class="card text-white bg-primary mb-3">
  <div class="card-header">
    <p class="h1">
        Aplikacja do robienia list. 
        {% if app.user %}
            Witaj {{ app.user.username }}.
        {% endif %}
    </p>
</div>
<div class="card-body">
    <div class="container">
        {% if app.user %}
        <div class="btn-group" role="group">
            <a class="btn btn-secondary" href="{{ path('app_logout') }}">Wyloguj się</a>
            <a class="btn btn-secondary" href="{{ path('modify_account') }}">Opcje konta</a>
            <a class="btn btn-secondary" href="{{ path('user_task_lists',{username: app.user.username}) }}">Zobacz swoje listy</a>
        </div>
        {% else %}
        <div class="btn-group" role="group">
            <a class="btn btn-secondary" href="{{ path('app_register') }}">Rejestracja</a>
            <a class="btn btn-secondary" href="{{ path('app_login') }}">Logowanie</a>
        {% endif %}
        </div>
    </div>
  </div>
</div>
{% endblock %}