{% extends 'base.html.twig' %}

{% block title %}Edytuj zadanie{% endblock %}

{% block body %}
<div class="card text-white bg-primary mb-3">
  <div class="card-header">
    <p class="h1"> Edycja zadania. 
        <a class="btn btn-light" href="{{ path('remove_task',{ 'username': app.user.username, 'id' : listId, 'taskId': taskId}) }}">
            Usuń zadanie.
        </a>
    </p>
</div>
<div class="card-body">
    <div class="container">
        {{ form_start(editTaskForm) }}
            {{ form_row(editTaskForm.content) }}
            <button class="btn btn-light">Zatwierdź zmiany</button>
        {{ form_end(editTaskForm) }}
    </div>
  </div>
</div>

<div>
    <a class="btn btn-primary" href="{{ path('user_view_list',{ username: app.user.username, id: listId}) }}">Wróć.</a>
</div>
{% endblock %}
