{% extends 'base.html.twig' %}

{% block title %}Lista {{taskList.getName()}}{% endblock %}

{% block body %}
<div class="card text-white bg-primary mb-3">
  <div class="card-header">
    <p class="h1"> Lista zadań: {{taskList.getName()}}
        <a class="btn btn-light" href="{{ path('edit_list_name',{ 'username': app.user.username, 'id' : taskList.getId()}) }}">
            Edytuj
        </a>
    </p>
</div>
<div class="card-body">
    <div class="container bg-light text-dark">
        {% for task in taskList.getTasks() %}
            <div class="row">
                <div class="col-sm-6">
                    {{ task.getContent() }}
                    <input type="checkbox" onclick='taskUpdate(this,{{task.id}},"{{ path('task_change_checkbox',{'username': app.user.username, 'id': taskList.getId()}) }}");' {% if task.completed %}checked{% endif %}>
                </div>
                <div class="col-sm">
                    <a href="{{ path('edit_task',{ 'username': app.user.username, 'id': taskList.getId(), 'taskId': task.getId()}) }}">Edycja.</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container bg-primary text-dark">
        {{ form_start(newTaskForm) }}
            {{ form_row(newTaskForm.content) }}
            <button class="btn btn-light btn-sm">Utwórz nowe zadanie</button>
        {{ form_end(newTaskForm) }}
    </div>
</div>
</div>

</div>
<a class="btn btn-primary" href="{{ path('user_task_lists',{ 'username': app.user.username}) }}">Wróć.</a>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    function taskUpdate(box,whatTask,path) 
    {
        console.log("Test! "+whatTask+" | "+box.checked+" | "+path);
        $.post( path, {taskId: whatTask, taskValue: box.checked},function(response)
        {
            if(response.code == 100 && response.success)
            {
                console.log("Checkbox responded!");
            }
        }, "json" );
    }
</script>
{% endblock %}
