<h3>Brawo! Zarejestrowałeś się!</h3>

<div>Witaj {{ username }}! Zarejestrowałeś się do aplikacji toDoList!</div>
<div>Teraz możesz zapisywać listy, usuwać, modyfikować etc.</div>

<div>Aby się zalogować kilknij w <a href="{{ url('account_confirmation',{ token: confirmationToken}) }}">ten link</a>.</div>

<div>Powodzenia</div>