<h3>Resetowanie hasła</h3>

<div>Witaj {{ username }}. Ty (lub ktoś inny) poprosił o przypomnienie sobie hasła.</div>
<div>Jeśli to nie byłeś ty, zaloguj się na swoje konto, aby unieważnić link resetujący.</div>

<div>Jeśli jednak to faktycznie jesteś ty, będący najwyraźniej w kropce, to wystarczy kilknąć 
<a href="{{ url('account_reset',{ token: resetToken, username: username}) }}">ten link</a>
 aby zresetować hasło.
</div>

<div>Pozdrawiamy: todolist</div>